@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "./mixins&autos.scss";

* {
        margin: 0;
        padding: 0;

        box-sizing: border-box;

        height: fit-content;
        width: fit-content;

        text-decoration: none;
        border: 0;
        outline: 0;

        list-style: none;

        background: none;

        font-family: 'JetBrains Mono', monospace;
        color: #000;
}
/*text style*/

.HB64 {
        font-size: 64px;
        font-weight: 700;
        line-height: 90%;

        text-transform: uppercase;

        @include sc(600px) {
                font-size: 48px;
                padding: 0 45px;
                br {
                        display: none;
                }
        }
        @include sc(425px) {
                font-size: 40px;
                br {
                        display: unset;
                }
        }
        @include sc(325px) {
                font-size: 2.25rem;
        }
}
.HB36 {
        font-size: 3rem;
        font-weight: 700;
        line-height: 100%;

        @include sc(600px) {
                font-size: 2.75rem;
        }
        @include sc(400px) {
                font-size: 2.25rem;
        }
}
.HR24 {
        font-size: 24px;
        font-weight: 400;
        line-height: 100%;
}
.HM24 {
        font-size: 24px;
        font-weight: 500;
        line-height: 100%;
}
.HB24 {
        font-size: 24px;
        font-weight: 600;
        line-height: 100%;
}
.HB24,
.HR24,
.HM24 {
        @include rsc(1200px) {
                font-size: 28px;
        }
}
.BR18 {
        font-size: 18px;
        font-weight: 400;
        line-height: 100%;
}
.BM18 {
        font-size: 18px;
        font-weight: 500;
        line-height: 100%;
}
.BR14 {
        font-size: 14px;
        font-weight: 400;
        line-height: 90%;
}
.BM14 {
        font-size: 14px;
        font-weight: 500;
        line-height: 100%;
}
.BB14 {
        font-size: 14px;
        font-weight: 700;
        line-height: 100%;
}
.BB14,
.BR14,
.BM14 {
        @include rsc(1200px) {
                font-size: 18px;
        }
}
.BM12 {
        font-size: 12px;
        font-weight: 500;
        line-height: 120%;

        opacity: 0.75;
}
.BB12 {
        font-size: 12px;
        font-weight: 700;
        line-height: 90%;
}
