@import "./../../assets/GlobleStyling/mixins&autos.scss", "./../../assets/GlobleStyling/variables&fonts.scss";

.MatchingGame {
    @include DFC;
    justify-content: center;
    gap: 45px;

    height: auto;
    width: 100vw;
    max-width: 100vw;

    box-sizing: content-box;

    padding: 0 25px;

    section {
        @include DFC;
        align-items: flex-start;
        gap: 12px;

        width: clamp(300px, 100%, 875px);
        padding: 0 25px;

        lable {
        }
        .casesWrap {
            @include sc(900px) {
                columns: 2;

                .caseBox {
                    width: -webkit-fill-available !important;
                    max-width: none !important;
                }
            }
            @include sc(600px) {
                columns: 1;
            }
            columns: 3;

            padding: 12px;
            gap: 10px 10px;

            max-width: fit-content;

            border-radius: 12px;
            //border: 1px solid #000;
            background: #00000011;

            color: #000;

            .caseBox {
                @include DFC;
                align-items: flex-start;
                padding: 15px 12px;
                gap: 10px;

                break-inside: avoid-column;
                margin-bottom: 10px;

                width: auto;
                min-width: 175px;
                max-width: 300px;

                border-radius: 12px;
                border: 1px solid #000;
                background: #fff;

                .letterDrop {
                    @include DFR;
                    align-items: flex-start;

                    min-width: 88px;

                    padding: 15px 12px;

                    border-radius: 12px;
                    border: 2px dashed rgba(0, 0, 0, 0.45);
                    opacity: 0.75;
                    background: rgba(0, 0, 0, 0.05);
                }
                h4 {
                    text-align: left;
                    line-height: 90%;

                    padding: 6px 0;
                }
            }
        }
        .wraper {
            @include DFC;
            align-items: flex-start;
            gap: 12px;

            padding: 12px;

            border-radius: 12px;
            border: 1px solid #000;
            background: #fff;

            color: #000;

            h4 {
                padding: 12px;
            }
        }
        .visualsWrap {
            @include sc(900px) {
                grid-template-columns: repeat(2, 1fr);

                .caseBox {
                    width: -webkit-fill-available !important;
                    max-width: none !important;
                }
            }
            @include sc(600px) {
                grid-template-columns: repeat(1, 1fr);
            }

            display: grid;
            grid-template-columns: repeat(3, 1fr);

            gap: 10px;

            width: -webkit-fill-available;

            .visualBox {
                @include DFR;
                @include sc(900px) {
                    max-width: 400px;
                }
                @include sc(600px) {
                    max-width: 100%;
                }
                align-items: flex-end;
                gap: 10px;

                position: relative;

                width: 100%;
                min-width: 175px;
                max-width: 300px;

                img {
                    width: 100%;
                    border-radius: 12px;

                    aspect-ratio: 4/3;
                    object-fit: cover;
                }
                .dragHolder {
                    @include DFR;
                    align-items: flex-start;

line-break: initial;

                    position: absolute;
                    bottom: 12px;
                    left: 12px;
                    z-index: 100;

                    max-width: calc(100% - 24px);

                    padding: 15px 12px;

                    border-radius: 6px;
                    border: 1px solid #00a3ff;
                    background: rgba(0, 163, 255, 0.25);

                    color: #00a3ff;
                    -webkit-user-drag: element;
                    cursor: grab;
                    
                    h4 {
                        padding: 0;
                    }
                }
            }
        }
    }
    .btnWrap {
        @include DFR;

        width: inherit;
        max-width: clamp(300px, 100%, 875px);
        padding: 0 25px;
        
        button {
            @include DFR;
            gap: 125px;

            padding: 20px 24px;
            border-radius: 12px;
            border: 1px solid #000;
            background: #00a3ff;
            color: #000;


            svg {
                height: 20px;
                width: 30px;
            }
        }
    }
}
